<!DOCTYPE html>
<html lang="en" ng-app="myMod">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>angularJS</title>
    <script src="angular.min.js"></script>
    <script src="module1.js"></script>
    <script src="route.min.js"></script>
<body ng-controller="myController">

    <div class="container" >
        <h1>Billing Section</h1>
        <input class="form-control" ng-model="search"><br>
        <button class="btn btn-primary" ng-click="searchProduct(search)">Search Product</button>
        <table class="table">
            <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>GST(%)</th>
                    <th>Quantity</th>
                    <th>Product Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in billing" ng-init="model">
                    <td>{{product.code}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.gst}}</td>
                    <td><input type="number" ng-model="model[$index].qty" 
                        ng-change="product.total = model[$index].qty?(product.price+(product.gst*product.price/100)) * model[$index].qty:0"
                        ng-init="product.total = model[$index].qty?(product.price+(product.gst*product.price/100)) * model[$index].qty:0"></td>
                        <td>{{product.total}}</td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align:right">Gross Total</td>
                    <td>{{total()}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>